/* https://torchlight.dev/docs/css */
/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
  @apply !p-0 !my-2 !bg-transparent rounded overflow-x-auto shadow border border-gray-200 font-mono text-base;
}

/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
  @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
  @apply px-4 py-1.5;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
  @apply mr-4;
}

/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
  transition: filter 0.35s, opacity 0.35s;
  filter: blur(.095rem);
  opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
  filter: blur(0px);
  opacity: 1;
}

pre code[data-theme="github-light"].torchlight {
  background-color: #fafafa !important;
}
